Repository openfoodfacts/robotoff, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, crowdin, documentation, tests, integration tests, unit tests, robotoff app, robotoff-cli, utils, workers, insights, scheduler, predictions, ocr prediction, elasticsearch, spellcheck, object detection, category prediction, neural category prediction, legacy

feat: improve apply-insight CLI command
  robotoff/cli/insights.py
  robotoff/cli/main.py
  robotoff/products.py
Labels: robotoff-cli

fix: use f-string everywhere in robotoff/cli/insights.py
  robotoff/cli/insights.py
Labels: robotoff-cli

Deploying to gh-pages from @ openfoodfacts/robotoff@93524c6eba85f5abba3c49aa85d8ad58195e86a6 🚀
  references/cli/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix: update .gitignore and .dockerignore
  .dockerignore
  .gitignore
Labels: none

feat: improve JSON OCR generation script
  scripts/ocr/run_ocr.py
Labels: none

feat: allow to launch a single service with make
  Makefile
Labels: none

feat: add CLI command export-logos-ann
  robotoff/cli/main.py
Labels: robotoff-cli

Deploying to gh-pages from @ openfoodfacts/robotoff@add6141b857c20af8c7577cff60ed6f122ea424e 🚀
  references/cli/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix: require insight_id to be an UUID in /insights/annotate
  robotoff/app/api.py
Labels: robotoff app

Deploying to gh-pages from @ openfoodfacts/robotoff@abb95744c8b8e6edb7d22cc8b051f7ebe608bc45 🚀
  sitemap.xml.gz
Labels: none

doc: fix documentation path in api.py
  robotoff/app/api.py
Labels: robotoff app

Deploying to gh-pages from @ openfoodfacts/robotoff@5ccab107361bf3c0486d264bd8db4e69edd6906d 🚀
  sitemap.xml
  sitemap.xml.gz
Labels: none

feat: update OCR scripts
  scripts/ocr/ocr_dump.py
  scripts/ocr/run_ocr.py
Labels: none

fix: rename ocr_dump.py script into dump_ocr.py
  scripts/ocr/dump_ocr.py
Labels: none

feat: add build command to Makefile
  Makefile
Labels: none

Deploying to gh-pages from @ openfoodfacts/robotoff@5c3961d5c3b0d3ddaedaebf38c12b8376497bd3f 🚀
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ openfoodfacts/robotoff@f97cc8c7e3a43ec6ce809b45743f1cf5430201db 🚀
  sitemap.xml.gz
Labels: none

fix: improve category matching algorithm and APIs
  doc/references/api.yml
  robotoff/app/api.py
  robotoff/prediction/category/__init__.py
  robotoff/prediction/category/matcher.py
  robotoff/prediction/category/neural/category_classifier.py
  robotoff/workers/tasks/product_updated.py
  tests/unit/prediction/category/test_matcher.py
Labels: tests, unit tests, robotoff app, workers, predictions, category prediction, neural category prediction

fix: fix mypy warning on OCR script
  scripts/ocr/dump_ocr.py
Labels: none

fix: fix mkdocs building issue
  robotoff/cli/main.py
Labels: robotoff-cli

feat: update category matching algorithm (#952)
  data/category_matcher/category_ingredient_intersect.json.gz
  data/category_matcher/category_match_maps.json.gz
  data/category_matcher/ingredient_match_maps.json.gz
  doc/references/api.yml
  poetry.lock
  pyproject.toml
  robotoff/app/api.py
  robotoff/app/schema.py
  robotoff/cli/main.py
  robotoff/elasticsearch/category/__init__.py
  robotoff/elasticsearch/category/dump.py
  robotoff/elasticsearch/category/match.py
  robotoff/elasticsearch/category/predict.py
  robotoff/elasticsearch/category/preprocessing.py
  robotoff/elasticsearch/export.py
  robotoff/prediction/category/__init__.py
  robotoff/prediction/category/matcher.py
  robotoff/prediction/category/neural/category_classifier.py
  robotoff/scheduler/__init__.py
  robotoff/settings.py
  robotoff/spellcheck/items.py
  robotoff/spellcheck/vocabulary/__init__.py
  robotoff/utils/text.py
  robotoff/workers/tasks/product_updated.py
  scripts/ocr/dump_ocr.py
  tests/unit/cli/test_main.py
  tests/unit/elasticsearch/category/__init__.py
  tests/unit/elasticsearch/category/test_predict.py
  tests/unit/elasticsearch/category/test_preprocessing.py
  tests/unit/elasticsearch/test_export.py
  tests/unit/prediction/category/test_matcher.py
  tests/unit/scheduler/test_scheduler.py
  tests/unit/workers/tasks/test_product_updated.py
Labels: tests, unit tests, robotoff app, robotoff-cli, utils, workers, scheduler, predictions, elasticsearch, spellcheck, category prediction, neural category prediction

Deploying to gh-pages from @ openfoodfacts/robotoff@d8a04c79a6b282c5082e3c35532a21ecd27bb09a 🚀
  404.html
  explanations/questions/index.html
  how-to-guides/deployment/dev-install/index.html
  how-to-guides/deployment/maintenance/index.html
  how-to-guides/test-and-debug/index.html
  index.html
  introduction/architecture/index.html
  introduction/contributing/index.html
  introduction/notifications/index.html
  references/api.yml
  references/cli/index.html
  references/package/index.html
  research/index.html
  research/logo-detection/benchmark/index.html
  research/nutrition-table-detection/index.html
  research/nutrition-table-detection/nutrition-tables-annotation-guidelines/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

fix: fixes importer.py after code review
  robotoff/insights/importer.py
Labels: insights

fix: rename generate_import_insights command in regenerate_ocr_insights
  robotoff/cli/main.py
Labels: robotoff-cli

fix: fix insight import mecanism (#963)
  robotoff/cli/main.py
  robotoff/insights/importer.py
  robotoff/models.py
  robotoff/prediction/ocr/category.py
  robotoff/products.py
  tests/integration/insights/test_category_import.py
  tests/integration/models_utils.py
  tests/unit/insights/test_importer.py
Labels: tests, integration tests, unit tests, robotoff-cli, insights, predictions, ocr prediction

Deploying to gh-pages from @ openfoodfacts/robotoff@04412dfec138cb85818f9b22d744a4114286ad55 🚀
  references/cli/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

fix: update tags of some labels detected with flashtext
  data/ocr/label_flashtext.txt
  data/ocr/label_whitelist.txt
Labels: none

feat: improve taxonomized value matching
  robotoff/app/api.py
  robotoff/taxonomy.py
  tests/integration/test_annotate_image.py
  tests/unit/test_taxonomy.py
Labels: tests, integration tests, unit tests, robotoff app

chore: add test and style semantic PR types
  .github/workflows/semantic-pr.yml
Labels: github_actions

fix: rename image_url field into ref_image_url
  data/label_logos.json
  robotoff/insights/question.py
  robotoff/settings.py
  tests/unit/insights/test_question.py
Labels: tests, unit tests, insights

fix: fix `get_tag` function
  robotoff/utils/text.py
  tests/unit/utils/test_text.py
Labels: tests, unit tests, utils

doc: fix /predict/category description
  doc/references/api.yml
Labels: none

test: add unit test for CategoryQuestionFormatter
  robotoff/models.py
  tests/unit/insights/test_question.py
Labels: tests, unit tests, insights

fix: don't return auto processable insights in /questions/{barcode}
  robotoff/app/api.py
Labels: robotoff app

fix: fix /logos/search route
  doc/references/api.yml
  robotoff/app/api.py
Labels: robotoff app

fix: don't return auto processable insights in /questions/{barcode}
  robotoff/app/api.py
Labels: robotoff app

fix: rename image_url field into ref_image_url
  data/label_logos.json
  robotoff/insights/question.py
  robotoff/settings.py
  tests/unit/insights/test_question.py
Labels: tests, unit tests, insights

test: add unit test for CategoryQuestionFormatter
  robotoff/models.py
  tests/unit/insights/test_question.py
Labels: tests, unit tests, insights

feat: improve taxonomized value matching
  robotoff/app/api.py
  robotoff/taxonomy.py
  tests/integration/test_annotate_image.py
  tests/unit/test_taxonomy.py
Labels: tests, integration tests, unit tests, robotoff app

chore: add test and style semantic PR types
  .github/workflows/semantic-pr.yml
Labels: github_actions

.github/labeler.yml:

# Please see https://github.com/actions/labeler for reference

github_actions:
- .github/**/*

crowdin:
- crowdin.yml

documentation:
- any: ['*.MD']

tests:
- tests/**/*

integration tests:
- tests/integration/**/*
- tests/integration/insights/**/*

unit tests:
- tests/unit/**/*
- tests/unit/insights/**/*
- tests/unit/cli/**/*
- tests/unit/utils/**/*
- tests/unit/prediction/**/*
- tests/unit/elasticsearch/**/*
- tests/unit/prediction/category/**/*
- tests/unit/prediction/category/neural/**/*

robotoff app:
- robotoff/app/**/*

robotoff-cli:
- robotoff/cli/**/*
- tests/unit/cli/**/*

utils:
- robotoff/utils/**/*
- tests/unit/utils/**/*

workers:
- robotoff/workers/**/*
- robotoff/workers/tasks/**/*

insights:
- robotoff/insights/**/*
- tests/integration/insights/**/*
- tests/unit/insights/**/*

scheduler:
- robotoff/scheduler/**/*

predictions:
- robotoff/prediction/**/*
- tests/unit/prediction/**/*

ocr prediction:
- robotoff/prediction/ocr/**/*
- tests/unit/prediction/ocr/**/*
- legacy/ocr_category/prediction_from_ocr/**/*

elasticsearch:
- robotoff/elasticsearch/**/*
- tests/unit/elasticsearch/**/*
- robotoff/elasticsearch/product/**/*
- robotoff/elasticsearch/category/**/*
- robotoff/spellcheck/elasticsearch/**/*
- tests/unit/elasticsearch/category/**/*
- tests/unit/elasticsearch/**/*
- robotoff/elasticsearch/category/**/*
- tests/unit/elasticsearch/category/**/*
- robotoff/elasticsearch/product/**/*

spellcheck:
- robotoff/spellcheck/**/*
- robotoff/spellcheck/vocabulary/**/*
- robotoff/spellcheck/patterns/**/*
- robotoff/spellcheck/percentages/**/*
- robotoff/spellcheck/elasticsearch/**/*

object detection:
- robotoff/prediction/object_detection/utils/**/*
- robotoff/prediction/object_detection/**/*

category prediction:
- robotoff/prediction/category/**/*
- tests/unit/prediction/category/**/*
- tests/unit/elasticsearch/category/**/*
- robotoff/elasticsearch/category/**/*
- tests/unit/elasticsearch/category/**/*
- tests/unit/prediction/category/**/*
- legacy/ocr_category/prediction_from_ocr/**/*

neural category prediction:
- robotoff/prediction/category/neural/**/*
- tests/unit/prediction/category/neural/**/*

legacy:
- legacy/**/*
- legacy/ocr_category/prediction_from_ocr/**/*
