Repository openfoodfacts/robotoff, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, crowdin, documentation, tests, integration tests, unit tests, robotoff app, robotoff-cli, utils, workers, insights, scheduler, predictions, ocr prediction, elasticsearch, spellcheck, object detection, category prediction, neural category prediction, legacy

fix: fix `get_tag` function
  robotoff/utils/text.py
  tests/unit/utils/test_text.py
Labels: tests, unit tests, utils

doc: fix /predict/category description
  doc/references/api.yml
Labels: none

fix: fix /logos/search route
  doc/references/api.yml
  robotoff/app/api.py
Labels: robotoff app

fix: update tags of some labels detected with flashtext
  data/ocr/label_flashtext.txt
  data/ocr/label_whitelist.txt
Labels: none

Deploying to gh-pages from @ openfoodfacts/robotoff@03376b8955a5ea5df4ed4de57be919ff2d80665c 🚀
  references/api.yml
  sitemap.xml
  sitemap.xml.gz
Labels: none

fix: use canonical value fr:label-rouge everywhere
  data/ocr/label_logo_annotation.txt
  robotoff/prediction/ocr/label.py
  tests/unit/prediction/ocr/test_label.py
Labels: tests, unit tests, predictions, ocr prediction

Deploying to gh-pages from @ openfoodfacts/robotoff@05197cc1d1bc07ab90e8f4b9506777e00ba158ea 🚀
  sitemap.xml.gz
Labels: none

feat: improve `generate_prediction` function
  robotoff/logos.py
  tests/unit/test_logos.py
Labels: tests, unit tests

fix: filter logos that are almost exactly the same
  robotoff/logos.py
  robotoff/workers/tasks/import_image.py
  tests/unit/test_logos.py
Labels: tests, unit tests, workers

feat: add `data->bounding_box` field in logo derived insights
  robotoff/logos.py
  tests/integration/test_annotate_image.py
Labels: tests, integration tests

fix: simplify filter_logo function
  robotoff/logos.py
Labels: none

fix: add fixes to category matcher
  data/category_matcher/category_ingredient_intersect.json.gz
  data/category_matcher/category_match_maps.json.gz
  data/category_matcher/ingredient_match_maps.json.gz
  robotoff/prediction/category/matcher.py
Labels: predictions, category prediction

feat: add `data->bounding_box` field in logo derived insights
  robotoff/logos.py
  tests/integration/test_annotate_image.py
Labels: tests, integration tests

fix: filter logos that are almost exactly the same
  robotoff/logos.py
  robotoff/workers/tasks/import_image.py
  tests/unit/test_logos.py
Labels: tests, unit tests, workers

feat: improve `generate_prediction` function
  robotoff/logos.py
  tests/unit/test_logos.py
Labels: tests, unit tests

fix: simplify filter_logo function
  robotoff/logos.py
Labels: none

Deploying to gh-pages from @ openfoodfacts/robotoff@9eb8fddf197d29914bacd9b6c5a69abecfa0f0af 🚀
  sitemap.xml
  sitemap.xml.gz
Labels: none

fix: add fixes to category matcher
  data/category_matcher/category_ingredient_intersect.json.gz
  data/category_matcher/category_match_maps.json.gz
  data/category_matcher/ingredient_match_maps.json.gz
  robotoff/prediction/category/matcher.py
Labels: predictions, category prediction

Deploying to gh-pages from @ openfoodfacts/robotoff@b8c1912ce3942f857d7655779845394b860f2646 🚀
  sitemap.xml.gz
Labels: none

chore(master): release 1.10.0
  CHANGELOG.md
  pyproject.toml
Labels: none

chore(master): release 1.10.0
  CHANGELOG.md
  pyproject.toml
Labels: none

Deploying to gh-pages from @ openfoodfacts/robotoff@815b9c7b9a5457731be49f37199be04af5004060 🚀
  sitemap.xml.gz
Labels: none

.github/labeler.yml:

# Please see https://github.com/actions/labeler for reference

github_actions:
- .github/**/*

crowdin:
- crowdin.yml

documentation:
- any: ['*.MD']

tests:
- tests/**/*

integration tests:
- tests/integration/**/*
- tests/integration/insights/**/*

unit tests:
- tests/unit/**/*
- tests/unit/insights/**/*
- tests/unit/cli/**/*
- tests/unit/utils/**/*
- tests/unit/prediction/**/*
- tests/unit/elasticsearch/**/*
- tests/unit/prediction/category/**/*
- tests/unit/prediction/category/neural/**/*

robotoff app:
- robotoff/app/**/*

robotoff-cli:
- robotoff/cli/**/*
- tests/unit/cli/**/*

utils:
- robotoff/utils/**/*
- tests/unit/utils/**/*

workers:
- robotoff/workers/**/*
- robotoff/workers/tasks/**/*

insights:
- robotoff/insights/**/*
- tests/integration/insights/**/*
- tests/unit/insights/**/*

scheduler:
- robotoff/scheduler/**/*

predictions:
- robotoff/prediction/**/*
- tests/unit/prediction/**/*

ocr prediction:
- robotoff/prediction/ocr/**/*
- tests/unit/prediction/ocr/**/*
- legacy/ocr_category/prediction_from_ocr/**/*

elasticsearch:
- robotoff/elasticsearch/**/*
- tests/unit/elasticsearch/**/*
- robotoff/elasticsearch/product/**/*
- robotoff/elasticsearch/category/**/*
- robotoff/spellcheck/elasticsearch/**/*
- tests/unit/elasticsearch/category/**/*
- tests/unit/elasticsearch/**/*
- robotoff/elasticsearch/category/**/*
- tests/unit/elasticsearch/category/**/*
- robotoff/elasticsearch/product/**/*

spellcheck:
- robotoff/spellcheck/**/*
- robotoff/spellcheck/vocabulary/**/*
- robotoff/spellcheck/patterns/**/*
- robotoff/spellcheck/percentages/**/*
- robotoff/spellcheck/elasticsearch/**/*

object detection:
- robotoff/prediction/object_detection/utils/**/*
- robotoff/prediction/object_detection/**/*

category prediction:
- robotoff/prediction/category/**/*
- tests/unit/prediction/category/**/*
- tests/unit/elasticsearch/category/**/*
- robotoff/elasticsearch/category/**/*
- tests/unit/elasticsearch/category/**/*
- tests/unit/prediction/category/**/*
- legacy/ocr_category/prediction_from_ocr/**/*

neural category prediction:
- robotoff/prediction/category/neural/**/*
- tests/unit/prediction/category/neural/**/*

legacy:
- legacy/**/*
- legacy/ocr_category/prediction_from_ocr/**/*
