Repository openfoodfacts/robotoff, pull requests merged in 2021-08, with the labels that each got.

#350 Parameterise the OFF API address and the auth params.
  robotoff/off.py
  robotoff/settings.py
Labels: settings

#333 Add a notifications doc page
  doc/introduction/notifications.md
Labels: doc

#309 More category preprocessing
  robotoff/elasticsearch/category/preprocessing.py
Labels: category prediction

#377 Add code documentation
  doc/references/api.md
  robotoff/cli/main.py
  robotoff/insights/_enum.py
  robotoff/insights/dataclass.py
  robotoff/models.py
  robotoff/scheduler/__init__.py
  robotoff/workers/tasks/__init__.py
Labels: doc

#368 Fix incorrect peewee query
  robotoff/app/api.py
  robotoff/app/core.py
Labels: peewee
