Repository openfoodfacts/robotoff, pull requests merged in 2021-09, with the labels that each got.

#401 Refactor GitHub actions
  .github/workflows/generate-docs.yml
  .github/workflows/robotoff.yml
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Labels: devops, github_actions

#349 Comments in settings
  .github/workflows/autoblack.yml
  robotoff/settings.py
Labels: settings, doc

#422 fix doc links in README
  README.md
Labels: doc

#427 Clean up the hierarchical classifier training/prediction code
  robotoff/ml/category/hierarchical_classifier.py
Labels: category prediction, refactoring

#353 ci: Add release workflows
  .github/workflows/release-please.yml
  .github/workflows/robotoff-deploy.yml
  CHANGELOG.md
Labels: devops

#429 ci: deploy to Proxmox VM (.net)
  .env
  .github/workflows/autoblack.yml
  .github/workflows/container-build.yml
  .github/workflows/container-deploy-ml.yml
  .github/workflows/container-deploy.yml
  .github/workflows/robotoff-deploy.yml
  .github/workflows/tfmodels-sync.yml
  .gitignore
  Dockerfile
  Makefile
  docker-compose.yml
  docker-entrypoint.sh
  docker/dev.yml
  docker/ml.yml
  docker/prod.yml
  poetry.lock
  pyproject.toml
  robotoff/models.py
  robotoff/settings.py
  tf_models/models.config
Labels: devops
