Repository openfoodfacts/robotoff, pull requests merged in 2022-11, with the labels that each got.

#893 refactor: adding a test for MSC code
  robotoff/insights/importer.py
  robotoff/insights/normalize.py
  tests/unit/insights/test_importer.py
Labels: packager-codes, tests, insights, unit tests

#977 feat: switch all object detection models to Triton (#622)
  .env
  .github/workflows/container-deploy-ml.yml
  .github/workflows/container-deploy.yml
  .github/workflows/models-deploy.yml
  docker-compose.yml
  docker/ml.yml
  poetry.lock
  pyproject.toml
  robotoff/models.py
  robotoff/prediction/object_detection/core.py
  robotoff/prediction/object_detection/utils/label_map_util.py
  robotoff/prediction/object_detection/utils/string_int_label_map.proto
  robotoff/prediction/object_detection/utils/string_int_label_map_pb2.py
  robotoff/prediction/object_detection/utils/visualization_utils.py
  robotoff/settings.py
  scripts/object_detection/run_local.py
  tests/unit/insights/test_extraction.py
Labels: tests, insights, github_actions, unit tests, predictions, object detection

#988 fix: fix insight import (again!)
  robotoff/cli/insights.py
  robotoff/cli/main.py
  robotoff/insights/extraction.py
  robotoff/insights/importer.py
  robotoff/logos.py
  robotoff/scheduler/__init__.py
  robotoff/workers/tasks/import_image.py
  robotoff/workers/tasks/product_updated.py
  tests/integration/insights/test_category_import.py
  tests/unit/insights/test_importer.py
  tests/unit/workers/tasks/test_product_updated.py
Labels: tests, robotoff-cli, insights, unit tests, integration tests, workers, scheduler

#995 chore(master): release 1.12.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#1001 chore(master): release 1.13.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending
