Repository openfoodfacts/robotoff, pull requests merged in 2022-09, with the labels that each got.

#889 feat: Add image moderation service
  .github/workflows/container-deploy.yml
  doc/introduction/notifications.md
  robotoff/settings.py
  robotoff/slack.py
  tests/unit/test_slack.py
Labels: github_actions

#766 chore(master): release 1.6.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#903 ci: Test top issues
  .github/workflows/top-issues.yml
Labels: github_actions

#693 feat: Adding MongoDB container to Robotoff in dev
  doc/how-to-guides/deployment/dev-install.md
  doc/introduction/contributing.md
  docker/dev.yml
Labels: docker
