Repository openfoodfacts/robotoff, pull requests merged in 2022-10, with the labels that each got.

#900 chore(master): release 1.7.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#941 chore(master): release 1.8.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#921 feat: Request image directly from MongoDB instead of Product Opener
  robotoff/insights/question.py
  tests/integration/test_api.py
  tests/unit/data/generate_selected_images.json
  tests/unit/insights/test_question.py
Labels: tests

#957 chore(master): release 1.9.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#959 feat: Improve apply-insight CLI command
  robotoff/cli/insights.py
  robotoff/cli/main.py
  robotoff/products.py
Labels: robotoff-cli, insights

#952 feat: update category matching algorithm
  data/category_matcher/category_ingredient_intersect.json.gz
  data/category_matcher/category_match_maps.json.gz
  data/category_matcher/ingredient_match_maps.json.gz
  doc/references/api.yml
  poetry.lock
  pyproject.toml
  robotoff/app/api.py
  robotoff/app/schema.py
  robotoff/cli/main.py
  robotoff/elasticsearch/category/__init__.py
  robotoff/elasticsearch/category/dump.py
  robotoff/elasticsearch/category/match.py
  robotoff/elasticsearch/category/predict.py
  robotoff/elasticsearch/category/preprocessing.py
  robotoff/elasticsearch/export.py
  robotoff/prediction/category/__init__.py
  robotoff/prediction/category/matcher.py
  robotoff/prediction/category/neural/category_classifier.py
  robotoff/scheduler/__init__.py
  robotoff/settings.py
  robotoff/spellcheck/items.py
  robotoff/spellcheck/vocabulary/__init__.py
  robotoff/utils/text.py
  robotoff/workers/tasks/product_updated.py
  scripts/ocr/dump_ocr.py
  tests/unit/cli/test_main.py
  tests/unit/elasticsearch/category/__init__.py
  tests/unit/elasticsearch/category/test_predict.py
  tests/unit/elasticsearch/category/test_preprocessing.py
  tests/unit/elasticsearch/test_export.py
  tests/unit/prediction/category/test_matcher.py
  tests/unit/scheduler/test_scheduler.py
  tests/unit/workers/tasks/test_product_updated.py
Labels: category prediction

#963 fix: fix insight import mecanism
  robotoff/cli/main.py
  robotoff/insights/importer.py
  robotoff/models.py
  robotoff/prediction/ocr/category.py
  robotoff/products.py
  tests/integration/insights/test_category_import.py
  tests/integration/models_utils.py
  tests/unit/insights/test_importer.py
Labels: tests, insights

#972 fix: add fixes to category matcher
  data/category_matcher/category_ingredient_intersect.json.gz
  data/category_matcher/category_match_maps.json.gz
  data/category_matcher/ingredient_match_maps.json.gz
  robotoff/prediction/category/matcher.py
Labels: category prediction

#964 chore(master): release 1.10.0
  CHANGELOG.md
  pyproject.toml
Labels: autorelease: pending

#961 ci: update labeler
  .github/labeler.yml
Labels: github_actions
