Repository openfoodfacts/robotoff, pull requests merged in 2022-02, with the labels that each got.

#560 ops: avoid mangling org and net metrics
  .env
  .github/workflows/container-deploy.yml
  docker-compose.yml
Labels: github_actions

#559 fix: ensure influxdb database exists
  robotoff/metrics.py
  robotoff/scheduler/__init__.py
Labels: database, devops

#578 Ag updates
  .github/workflows/container-deploy.yml
  poetry.lock
  pyproject.toml
Labels: github_actions

#601 V1.1.0 hotfixes
  .github/workflows/container-deploy.yml
  docker-compose.yml
Labels: github_actions

#610 ops: use a specific token for release please
  .github/workflows/release-please.yml
Labels: github_actions

#611 ops: fix pypi publish to use token
  .github/workflows/pypi.yml
Labels: github_actions

#602 Packaging Flashtext extension
  .github/workflows/pull_request.yml
  data/ocr/packaging.txt
  tests/unit/prediction/ocr/test_packaging.py
Labels: flashtext, github_actions

#616 Move OCR category predictor to legacy folder
  .github/workflows/pull_request.yml
  Makefile
  doc/how-to-guides/deployment/dev-install.md
  legacy/ocr_category/category.py
  legacy/ocr_category/prediction_from_ocr/__init__.py
  legacy/ocr_category/prediction_from_ocr/cleaner.py
  legacy/ocr_category/prediction_from_ocr/constants.py
  legacy/ocr_category/prediction_from_ocr/predictor.py
  legacy/ocr_category/test_category.py
  poetry.lock
  pyproject.toml
  robotoff/app/api.py
  robotoff/cli/main.py
  robotoff/insights/extraction.py
  robotoff/prediction/ocr/core.py
  tests/unit/prediction/ocr/test_core.py
Labels: github_actions
