Repository openfoodfacts/robotoff, pull requests merged in 2023-08, with the labels that each got.

#1161 fix: replace parameter `country` by `countries`
  doc/references/api.yml
  robotoff/app/api.py
  robotoff/app/core.py
  tests/integration/test_core_integration.py
Labels: tests, robotoff app, integration tests

#1162 chore: migrate to Python 3.11
  .github/workflows/autoblack.yml
  .github/workflows/generate-docs.yml
  .github/workflows/pypi.yml
  .github/workflows/quality_check.yml
  .pre-commit-config.yaml
  Dockerfile
  doc/how-to-guides/deployment/dev-install.md
  doc/introduction/contributing.md
  doc/references/package.md
  docker/dev.yml
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/unit/insights/test_importer.py
Labels: tests, insights, github_actions, unit tests

#1163 fix: remove above-threshold-campaign
  data/category/neural/v3/image_embeddings_model_thresholds.json.gz
  robotoff/insights/importer.py
  robotoff/prediction/category/neural/category_classifier.py
  robotoff/prediction/category/neural/keras_category_classifier_3_0/__init__.py
Labels: category prediction, insights, predictions, neural category prediction

#1165 ci: try to tweak Crowdin
  crowdin.yml
Labels: crowdin

#1167 fix: add robots.txt
  robotoff/app/api.py
Labels: robotoff app

#1172 ci: Fix top issues
  .github/workflows/top-issues.yml
Labels: github_actions

#1175 feat: Stores from across Europe
  data/ocr/store_regex.txt
Labels: stores

#1182 fix: improve brand exclusion for 'taxonomy' predictor
  data/ocr/brand_taxonomy_blacklist.txt
  robotoff/brands.py
  robotoff/insights/importer.py
  robotoff/products.py
  robotoff/scheduler/__init__.py
Labels: insights, scheduler

#1246 feat: apply automatically nutrition images insights
  robotoff/insights/importer.py
  tests/unit/insights/test_importer.py
Labels: tests, insights, unit tests
