Repository openfoodfacts/robotoff, pull requests merged in 2023-10, with the labels that each got.

#1272 feat: store fingerprint of all images
  poetry.lock
  pyproject.toml
  robotoff/images.py
  robotoff/models.py
  robotoff/workers/tasks/import_image.py
  tests/unit/test_images.py
Labels: tests, unit tests, workers

#1277 fix: fix migration application during deployment
  .github/workflows/container-deploy.yml
Labels: github_actions

#1280 fix: mark images as deleted in DB when deleted on Product Opener
  robotoff/app/api.py
  robotoff/images.py
  robotoff/workers/tasks/product_updated.py
  tests/integration/test_images.py
Labels: tests, robotoff app, integration tests, workers

#1279 fix: more stores
  data/ocr/store_regex.txt
Labels: stores
