Repository openfoodfacts/robotoff, pull requests merged in 2024-09, with the labels that each got.

#1406 ci: Create github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#1413 fix: fix entity aggregation bug for NER detection
  robotoff/prediction/ingredient_list/__init__.py
  robotoff/prediction/ingredient_list/transformers_pipeline.py
Labels: predictions

#1421 feat: Add image classifier models
  Makefile
  docker/ml-gpu.yml
  docker/ml.yml
  robotoff/app/api.py
  robotoff/prediction/image_classifier.py
  robotoff/types.py
Labels: 🐋 Docker, predictions, Robotoff - App
