Repository openfoodfacts/robotoff, pull requests merged in 2024-12, with the labels that each got.

#1473 feat: add nutrition annotation
  robotoff/insights/annotate.py
  robotoff/off.py
  robotoff/types.py
Labels: insights

#1477 fix: allow to filter insights by campaign
  doc/references/api.yml
  robotoff/app/api.py
Labels: Robotoff - App

#1479 fix: improve nutrition extraction
  .cov/.empty
  robotoff/insights/annotate.py
  robotoff/insights/importer.py
  robotoff/prediction/nutrition_extraction.py
  robotoff/products.py
  tests/unit/insights/test_annotate.py
  tests/unit/insights/test_importer.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: nutrition prediction, 🧪 tests, insights, predictions, 🧪 unit tests

#1480 ci: labeler for nutrition extraction
  .github/labeler.yml
Labels: GitHub Actions

#1482 fix: add new CLI command to rerun image import for all images
  robotoff/cli/main.py
  robotoff/images.py
  robotoff/types.py
  robotoff/workers/tasks/import_image.py
Labels: workers, Robotoff - CLI

#1484 feat: Improve nutrition extraction
  robotoff/prediction/nutrition_extraction.py
  robotoff/workers/tasks/import_image.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: nutrition prediction, 🧪 tests, predictions, workers, 🧪 unit tests

#1486 fix(nutrisight): improve extraction postprocessing
  robotoff/prediction/nutrition_extraction.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: nutrition prediction, 🧪 tests, predictions, 🧪 unit tests

#1488 fix: support votes on GET /api/v1/insights route
  robotoff/app/api.py
  robotoff/app/core.py
Labels: Robotoff - App

#1489 feat: improve /image_predictions route
  doc/references/api.yml
  robotoff/app/api.py
  robotoff/app/core.py
Labels: Robotoff - App

#1490 fix: improve nutrition post-processing
  robotoff/prediction/nutrition_extraction.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: nutrition prediction, 🧪 tests, predictions, 🧪 unit tests

#1493 refactor: use openfoodfacts.ml for object detection
  Dockerfile
  poetry.lock
  pyproject.toml
  robotoff/app/api.py
  robotoff/cli/main.py
  robotoff/insights/extraction.py
  robotoff/prediction/object_detection/__init__.py
  robotoff/prediction/object_detection/core.py
  robotoff/types.py
  tests/integration/insights/test_extraction.py
Labels: 🧪 tests, insights, predictions, object detection, Robotoff - App, Robotoff - CLI, 🧪 integration tests

#1497 fix: fix the absence of matching synonyms during category insight import
  data/taxonomies/categories.full.json.gz
  poetry.lock
  pyproject.toml
  robotoff/insights/importer.py
  robotoff/taxonomy.py
  tests/unit/insights/test_importer.py
  tests/unit/test_taxonomy.py
Labels: 🧪 tests, insights, 🧪 unit tests

#1501 feat: Improve annotation process for `nutrition_extraction` insight
  robotoff/insights/annotate.py
  robotoff/prediction/nutrition_extraction.py
  robotoff/prediction/ocr/image_lang.py
  robotoff/prediction/utils.py
  tests/integration/insights/test_annotate.py
  tests/integration/insights/test_category_import.py
  tests/integration/models_utils.py
  tests/integration/prediction/test_utils.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: nutrition prediction, 🧪 tests, insights, predictions, 🧪 unit tests, OCR prediction, 🧪 integration tests

#1502 fix(nutrisight): allow to override nutrition image
  robotoff/insights/annotate.py
  tests/integration/insights/test_annotate.py
Labels: 🧪 tests, insights, 🧪 integration tests

#1510 feat: Add triton CLI commands
  robotoff/cli/main.py
  robotoff/cli/triton.py
  robotoff/triton.py
Labels: Robotoff - CLI

#1511 feat: Upgrade nutrition extractor model
  docker/ml-gpu.yml
  docker/ml.yml
  robotoff/cli/main.py
  robotoff/prediction/nutrition_extraction.py
Labels: nutrition prediction, 🐋 Docker, predictions, Robotoff - CLI
