Repository openfoodfacts/robotoff, pull requests merged in 2024-10, with the labels that each got.

#1423 fix: remove old object detection models
  models/triton/nutriscore-yolo/labels.txt
  models/triton/nutrition-table/labels.txt
  models/triton/nutrition_table/labels.txt
  models/triton/universal_logo_detector/labels.txt
  robotoff/app/api.py
  robotoff/cli/main.py
  robotoff/insights/extraction.py
  robotoff/insights/importer.py
  robotoff/prediction/object_detection/core.py
  robotoff/types.py
  robotoff/workers/tasks/import_image.py
  scripts/insert_image_predictions.py
  tests/integration/insights/test_extraction.py
  tests/integration/insights/test_importer.py
  tests/integration/models_utils.py
Labels: 🧪 tests, insights, predictions, object detection, workers, Robotoff - App, Robotoff - CLI, 🧪 integration tests

#1425 fix: add new nutrient mention for portuguese
  robotoff/prediction/ocr/nutrient.py
Labels: predictions, OCR prediction

#1428 fix: add script to normalize barcodes in DB
  robotoff/cli/main.py
  robotoff/off.py
Labels: Robotoff - CLI

#1434 feat: Spellcheck annotate
  doc/references/api.yml
  robotoff/insights/annotate.py
  tests/integration/insights/test_annotate.py
Labels: spellcheck, 🧪 tests, insights, 🧪 integration tests

#1437 feat: add nutrient extractor
  Makefile
  poetry.lock
  pyproject.toml
  robotoff/cli/main.py
  robotoff/insights/annotate.py
  robotoff/insights/importer.py
  robotoff/off.py
  robotoff/prediction/nutrition_extraction.py
  robotoff/products.py
  robotoff/triton.py
  robotoff/types.py
  robotoff/workers/tasks/import_image.py
  tests/integration/insights/test_annotate.py
  tests/ml/README.md
  tests/ml/category/test_image_embedding.py
  tests/ml/conftest.py
  tests/ml/data/predict_0011110702081_2.json
  tests/ml/data/predict_2509757363133_2.json
  tests/ml/data/predict_4903015130266_2.json
  tests/ml/data/test_image_embedding.npz
  tests/ml/test_nutrition_extraction.py
  tests/unit/prediction/test_nutrition_extraction.py
Labels: 🧪 tests, insights, predictions, workers, Robotoff - CLI, 🧪 unit tests, 🧪 integration tests

#1443 fix: fix KeyError exception in UPCImageImporter
  robotoff/insights/importer.py
Labels: nutrition prediction, insights

#1448 fix: convert image to RGB before nutrition extraction
  robotoff/prediction/nutrition_extraction.py
Labels: predictions

#1450 feat: improve Slack & nutripatrol notifiers
  robotoff/notifier.py
  tests/unit/test_notifier.py
Labels: notifications, 🧪 tests, 🧪 unit tests, 👮 Moderation

#1436 feat: :zap: Add CLI command to convert and push JSONL to Huggingface
  docker-compose.yml
  poetry.lock
  robotoff/cli/main.py
  robotoff/products.py
  robotoff/settings.py
  robotoff/utils/sql/jsonl_to_parquet.sql
  tests/unit/test_products.py
Labels: 🧪 tests, insights, workers, utils, Robotoff - CLI, 🧪 unit tests, 🧪 integration tests

#1455 fix: fix barcode filtering
  robotoff/insights/importer.py
  tests/unit/insights/test_importer.py
Labels: 🧪 tests, insights, 🧪 unit tests
