Repository openfoodfacts/robotoff, pull requests merged in 2024-07, with the labels that each got.

#1354 chore: increase SHARED_BUFFERS and WORK_MEM
  .env
  .github/workflows/container-deploy.yml
  docker-compose.yml
Labels: github_actions

#1356 feat: add yolo model for nutriscore object detection
  Makefile
  models/triton/nutriscore-yolo/labels.txt
  poetry.lock
  pyproject.toml
  robotoff/insights/extraction.py
  robotoff/prediction/object_detection/core.py
  robotoff/prediction/object_detection/utils/visualization_utils.py
  robotoff/prediction/upc_image.py
  robotoff/settings.py
  robotoff/types.py
  robotoff/utils/image.py
  robotoff/workers/tasks/import_image.py
  tests/integration/insights/test_extraction.py
  tests/unit/prediction/upc_image/test_upc_image.py
Labels: tests, insights, unit tests, predictions, object detection, integration tests, workers, utils

#1359 fix: fix incorrect astype call
  robotoff/prediction/object_detection/core.py
Labels: predictions, object detection

#1358 chore: upgrade dep
  Dockerfile
  poetry.lock
  pyproject.toml
  robotoff/prediction/ocr/packaging.py
Labels: predictions, ocr prediction

#1361 fix: make log message less verbose in api.py
  robotoff/app/api.py
Labels: robotoff app

#1364 fix: drop unused indices
  Makefile
  migrations/004_drop_indices.py
  robotoff/app/api.py
  robotoff/models.py
Labels: robotoff app

#1365 feat: add Yolov8 model for nutrition table detection
  Makefile
  models/triton/nutrition-table-yolo/labels.txt
  robotoff/cli/main.py
  robotoff/insights/importer.py
  robotoff/prediction/object_detection/core.py
  robotoff/types.py
  robotoff/workers/tasks/import_image.py
Labels: robotoff-cli, insights, predictions, object detection, workers

#1380 ci: Update labeler.yml to match other repos
  .github/labeler.yml
Labels: github_actions

#1383 feat: switch from PostgreSQL 11 to PostgreSQL 16
  .env
  .github/workflows/container-deploy.yml
  Makefile
  docker-compose.yml
  docker/prod.yml
  robotoff/settings.py
  scripts/backup_postgres.sh
Labels: GitHub Actions, 🐋 Docker
