Repository openfoodfacts/robotoff, pull requests merged in 2025-06, with the labels that each got.

#1610 fix: allow user to submit rotation and bounding box when annotating `ingredient_detection` insights
  robotoff/insights/annotate.py
  robotoff/types.py
  tests/unit/insights/test_annotate.py
  tests/unit/test_types.py
Labels: 🧪 tests, insights, 🧪 unit tests

#1615 fix: Add retry logic for redis
  poetry.lock
  pyproject.toml
  robotoff/workers/update_listener.py
Labels: workers

#1614 chore: fix docker-livecheck.sh
  docker/docker-livecheck.sh
Labels: 🐋 Docker

#1623 refactor: improve spellcheck batch jobs
  robotoff/batch/__init__.py
  robotoff/cli/main.py
  robotoff/products.py
  robotoff/scheduler/__init__.py
  robotoff/settings.py
  robotoff/workers/tasks/__init__.py
  tests/unit/pytest_utils.py
  tests/unit/test_batch.py
  tests/unit/workers/tasks/test_import_image.py
Labels: 🧪 tests, workers, scheduler, Robotoff - CLI, 🧪 unit tests

#1624 refactor: use new Python syntax for Optional typing
  robotoff/app/api.py
  robotoff/app/core.py
  robotoff/app/events.py
  robotoff/batch/launch.py
  robotoff/brands.py
  robotoff/cli/insights.py
  robotoff/cli/triton.py
  robotoff/images.py
  robotoff/insights/extraction.py
  robotoff/insights/question.py
  robotoff/logos.py
  robotoff/metrics.py
  robotoff/notifier.py
  robotoff/off.py
  robotoff/prediction/category/neural/keras_category_classifier_3_0/__init__.py
  robotoff/prediction/category/neural/keras_category_classifier_3_0/preprocessing.py
  robotoff/prediction/ingredient_list/transformers_pipeline.py
  robotoff/prediction/ocr/brand.py
  robotoff/prediction/ocr/category.py
  robotoff/prediction/ocr/core.py
  robotoff/prediction/ocr/expiration_date.py
  robotoff/prediction/ocr/grammar.py
  robotoff/prediction/ocr/image_flag.py
  robotoff/prediction/ocr/image_lang.py
  robotoff/prediction/ocr/label.py
  robotoff/prediction/ocr/location.py
  robotoff/prediction/ocr/packager_code.py
  robotoff/prediction/ocr/packaging.py
  robotoff/prediction/ocr/product_weight.py
  robotoff/prediction/ocr/trace.py
  robotoff/prediction/ocr/utils.py
  robotoff/prediction/upc_image.py
  robotoff/products.py
  robotoff/redis.py
  robotoff/settings.py
  robotoff/types.py
  robotoff/utils/download.py
  robotoff/utils/i18n.py
  robotoff/utils/logger.py
  robotoff/utils/text/flashtext.py
  robotoff/workers/queues.py
  scripts/category_dataset.py
  scripts/doctext.py
  tests/integration/models_utils.py
  tests/unit/insights/test_importer.py
  tests/unit/insights/test_question.py
  tests/unit/prediction/ocr/test_label.py
  tests/unit/test_notifier.py
  tests/unit/test_products.py
Labels: category prediction, 🧪 tests, insights, predictions, workers, utils, neural category prediction, Robotoff - App, Robotoff - CLI, 🧪 unit tests, OCR prediction, 🧪 integration tests

#1628 fix: increase timeouts for spellcheck jobs
  robotoff/app/api.py
  robotoff/batch/configs/job_configs/spellcheck.yaml
Labels: Robotoff - App

#1641 fix: discard redis events triggered by Robotoff actions
  robotoff/workers/update_listener.py
  tests/unit/workers/test_update_listener.py
Labels: 🧪 tests, workers, 🧪 unit tests

#1646 feat: remove Slack notifications
  .env
  .github/workflows/container-deploy.yml
  data/ocr/store_notify.txt
  doc/how-to-guides/test-and-debug.md
  doc/introduction/notifications.md
  docker-compose.yml
  robotoff/logos.py
  robotoff/models.py
  robotoff/notifier.py
  robotoff/prediction/ocr/brand.py
  robotoff/prediction/ocr/category.py
  robotoff/prediction/ocr/expiration_date.py
  robotoff/prediction/ocr/label.py
  robotoff/prediction/ocr/packager_code.py
  robotoff/prediction/ocr/product_weight.py
  robotoff/prediction/ocr/store.py
  robotoff/prediction/ocr/trace.py
  robotoff/scheduler/__init__.py
  robotoff/settings.py
  scripts/ocr/extract_ocr_text.py
  tests/integration/insights/test_process_insights.py
  tests/unit/prediction/ocr/test_brand.py
  tests/unit/prediction/ocr/test_product_weight.py
  tests/unit/prediction/ocr/test_store.py
  tests/unit/test_notifier.py
  tests/unit/test_settings.py
Labels: 🧪 tests, insights, GitHub Actions, predictions, scheduler, 🧪 unit tests, OCR prediction, 🧪 integration tests

#1650 fix: fix bug in extract_ingredients_job
  robotoff/workers/tasks/import_image.py
  tests/integration/workers/tasks/test_import_image.py
Labels: 🧪 tests, workers, 🧪 integration tests

#1651 fix: use `data['rotation']` when annotating ingredient detection insight
  robotoff/insights/annotate.py
  tests/unit/insights/test_annotate.py
Labels: 🧪 tests, insights, 🧪 unit tests

#1659 fix: launch refresh insight at 7PM instead of 4PM
  robotoff/scheduler/__init__.py
Labels: scheduler

#1466 ci: send translations PRs to the translation project
  .github/workflows/github-projects.yml
Labels: GitHub Actions
