Repository openfoodfacts/robotoff, pull requests merged in 2025-05, with the labels that each got.

#1558 chore: updated ubuntu version pinning and some minor errors related to deployment
  .github/workflows/generate-docs.yml
  poetry.lock
  pyproject.toml
Labels: GitHub Actions

#1561 test: fix test annotate + test nutrients JSON
  tests/integration/insights/test_annotate.py
  tests/unit/test_types.py
Labels: 🧪 tests, insights, 🧪 unit tests, 🧪 integration tests

#1562 feat: Implement auto-rotation for selected images using Google Cloud Vision predictions
  robotoff/insights/annotate.py
  robotoff/insights/importer.py
  tests/integration/insights/test_annotate.py
  tests/integration/insights/test_importer.py
  tests/unit/insights/test_importer.py
Labels: 🧪 tests, insights, 🧪 unit tests, 🧪 integration tests

#1566 fix: improve ImageOrientation importers and annotator
  robotoff/insights/annotate.py
  robotoff/insights/importer.py
  tests/integration/insights/test_annotate.py
  tests/integration/insights/test_importer.py
  tests/unit/insights/test_annotate.py
  tests/unit/insights/test_importer.py
Labels: 🧪 tests, insights, 🧪 unit tests, 🧪 integration tests

#1567 feat: improve image orientation insights
  i18n/robotoff.pot
  robotoff/insights/annotate.py
  robotoff/insights/importer.py
  robotoff/insights/question.py
  robotoff/settings.py
  tests/integration/insights/test_annotate.py
  tests/integration/insights/test_importer.py
  tests/unit/insights/test_importer.py
  tests/unit/insights/test_question.py
Labels: 🧪 tests, insights, 🧪 unit tests, 🧪 integration tests

#1572 fix(image-rotation): convert OFF rotation angle to positive value
  robotoff/insights/importer.py
  tests/unit/insights/test_importer.py
Labels: 🧪 tests, insights, 🧪 unit tests

#1574 fix: fix bug in annotation of image orientation
  robotoff/insights/annotate.py
Labels: insights

#1571 chore: Skip tests when test‐data assets can’t be fetched
  tests/unit/pytest_utils.py
Labels: 🧪 tests, 🧪 unit tests

#1589 fix: rename ingredient detection model name
  robotoff/prediction/ingredient_list/__init__.py
  tests/integration/workers/tasks/test_import_image.py
Labels: 🧪 tests, predictions, 🧪 integration tests

#1590 refactor: improve importer.py and images.py files
  robotoff/images.py
  robotoff/insights/importer.py
Labels: insights

#1591 refactor: improve various modules
  robotoff/cli/main.py
  robotoff/insights/importer.py
  robotoff/products.py
  robotoff/utils/image.py
  tests/unit/test_products.py
  tests/unit/utils/test_image.py
Labels: 🧪 tests, insights, utils, Robotoff - CLI, 🧪 unit tests

#1595 feat: add first implementation of ingredient_detection insights
  doc/references/predictions/ingredient-detection.md
  robotoff/insights/importer.py
  robotoff/types.py
  robotoff/workers/tasks/import_image.py
  tests/integration/models_utils.py
  tests/integration/workers/tasks/test_import_image.py
  tests/unit/insights/test_importer.py
Labels: 🧪 tests, insights, workers, 🧪 unit tests, 🧪 integration tests

#1601 fix: fix bug in `extract_ingredients_job` function
  robotoff/workers/tasks/import_image.py
  tests/integration/workers/tasks/test_import_image.py
Labels: 🧪 tests, workers, 🧪 integration tests
