Repository openfoodfacts/robotoff, pull requests merged in 2025-04, with the labels that each got.

#1536 fix: upgrade openfoodfacts sdk to fix bug with brands taxonomies
  Makefile
  poetry.lock
  pyproject.toml
  tests/unit/test_taxonomy.py
Labels: 🧪 tests, 🧪 unit tests

#1540 chore: add dependabot configuration
  .github/dependabot.yml
Labels: GitHub Actions

#1541 fix: add barcode validation to image deletion and product update processes
  robotoff/images.py
  robotoff/types.py
  robotoff/workers/tasks/product_updated.py
Labels: workers

#1552 fix(lint): resolve flake8 W505 and E226 issues across legacy and worker modules
  .pre-commit-config.yaml
  legacy/ocr_category/prediction_from_ocr/__init__.py
  legacy/ocr_category/prediction_from_ocr/cleaner.py
  migrations/003_add_logo_text_field.py
  migrations/004_drop_indices.py
  pyproject.toml
  robotoff/off.py
  robotoff/prediction/ocr/core.py
  robotoff/workers/queues.py
  tests/conftest.py
Labels: category prediction, 🧪 tests, predictions, workers, legacy, OCR prediction

#1556 fix: failing code quality tests
  doc/references/ingredients-spellcheck.md
  tests/integration/models_utils.py
Labels: 🧪 tests, 🧪 integration tests
