Repository openfoodfacts/robotoff, pull requests merged in 2025-07, with the labels that each got.

#1663 feat: added spectral linting tool for OpenSpec Api file
  .github/workflows/api-lint.yml
  .spectral.yml
  Makefile
  README.md
Labels: GitHub Actions

#1673 fix: pass empty dict instead of None as `diffs`
  robotoff/workers/tasks/product_updated.py
  tests/integration/workers/tasks/test_product_updated.py
Labels: 🧪 tests, workers, 🧪 integration tests

#1676 feat: add bearer token to nutripatrol auth
  .github/workflows/container-deploy.yml
  docker-compose.yml
  robotoff/notifier.py
  robotoff/settings.py
  tests/unit/test_notifier.py
Labels: 🧪 tests, GitHub Actions, 🧪 unit tests, 👮 Moderation

#1679 refactor: add ml tests for object detection models
  tests/ml/test_object_detection.py
Labels: 🧪 tests, :star: top pull request

#1686 fix: remove store Alteza
  data/ocr/store_regex.txt
Labels: 🏪 Stores
